{
    acme_ca https://acme-v02.api.letsencrypt.org/directory
    email cn.wangliangliang@gmail.com
}

qq.pplove.xyz {
    encode gzip
    log {
        output stdout
        format console
    }
    reverse_proxy qqbot:8080
}