qq.xiaochengzi.me {
    encode gzip
    log {
        output stdout
        format console
    }
    reverse_proxy qqbot:8080
}

qq.songjunya.xyz {
    encode gzip
    log {
        output stdout
        format console
    }
    reverse_proxy qqbot:8080
}